@charset "UTF-8";

@media (min-width:769px) { /* ~~ 좌측글 ~~ */
	nav {
		width: 20%;
		height: 65%;
		margin-top: 3%;
		color: #ffffff;
		text-align: center;
		float: left;
	}
	
	.div_nav {
		background-size: 100% 100%;
		width: 12vw;
		border-radius: 10px;
		display: inline-block;
	 }
	
	ul.nav {
		padding-top: 3vh;
		padding-bottom: 3vh;
		list-style: none;
	}
	
	ul.nav li {
		font-size: 1.5vw;
		padding-top: 2vh;
		padding-bottom: 2vh;
		font-family: Verdana, Geneva, sans-serif;
	}
	
	ul.nav a, ul.nav a:visited {
		text-decoration: none;
		color: #ffb71b;
		line-height: 15px;
	}
	
	ul.nav a:hover, ul.nav a:active, ul.nav a:focus {
		color: #ffffff;
		line-height: 15px;
	}

}