@charset "UTF-8";

@media (min-width:769px) { /* ~~ 바닥글 ~~ */
	footer {
		width: 100%;
		height: 15%;
		color: #ffffff;
		background-color: #000000;
		text-align: center;
		padding-top: 30px;
		padding-left: 0;
		padding-right: 0;
		}

	footer ul {
		margin-bottom: 12px;
	}

	footer li {
		display: inline-block;
	}
	
	.div_copyright {
		border-top: 1px solid #ffffff;
	}
}