@charset "UTF-8";

@media (min-width:769px) {
	section {
		width: 60%;
		height: 70%;
		float: left;
	}
	
	.div_main {
		width: 100%;
		height: 70%;
		float: left;
		min-height: 500px;
	}
	
	/* ~~ 메인화면 동영상 출력 ~~ */
	.div_main_box { width: 100%; height: 100%; overflow: hidden; margin: 0px auto; position: relative; }
	.div_main_box video { width: 100%; display: inline-block; }
	.div_main_btn1 { z-index: 1; position: absolute; top: 40%; left: 5%; width: 15vw; height: 7vh; }
	.div_main_btn2 { z-index: 1; position: absolute; top: 40%; right: 5%; width: 15vw; height: 7vh; }
	/*.div_main_text { position: absolute; top: 40%; left: 5%;  text-align: left; font-size: 3vw; color: #ffffff; }*/

	#sec_main1 {
		width: 100%;
		min-height: 100vh;
		margin-top: 2%;
	}
	
	#sec_main2 {
		min-height: 100vh;
		margin-left: 20%;
		margin-right: 20%;
	}
	
	#div_main2_anchor {
		width: 100%;
		margin-bottom: 10%;
		margin-left: 20%;
		margin-right: 20%;
	}
	
	#sec_main3 {
		min-height: 100vh;
		margin-left: 20%;
		margin-right: 20%;
	}
	
	#div_main3_anchor {
		width: 100%;
		margin-bottom: 10%;
		margin-left: 20%;
		margin-right: 20%;
	}
	
	#sec_basic {
		width: 100%;
		min-height: 100vh;
		margin-top: 2%;
	}
	
	.iframe_main {
		border: none;
		width: 100%;
		overflow-x: hidden;
		overflow-y: hidden;
	}

	.iframe_sec {
		border: none;
		width: 100%;
		overflow-x: hidden;
		overflow-y: hidden;
	}
	
	.content1 {
		padding: 2%;
		width: 40%;
		float: left;
	}
	
	.content2 {
		padding: 2%;
		width: 40%;
		float: right;
	}
	
	/* ~~ 그룹화된 이 선택기는 .content 영역 공간에 목록을 제공합니다. ~~ */
	.content ul, .content ol {
		padding: 0 15px 15px 40px; /* 이 패딩은 머리글의 오른쪽 패딩과 위의 단락 규칙을 미러링합니다. 패딩은 목록에서 다른 요소들 사이의 공간 아래쪽과 들여쓰기 생성을 위한 왼쪽에 배치되었습니다. 패딩은 원하는 대로 조정할 수 있습니다. */
	}

	.content ul, .content ol {
		padding: 0 15px 15px 40px; /* 이 패딩은 머리글의 오른쪽 패딩과 위의 단락 규칙을 미러링합니다. 패딩은 목록에서 다른 요소들 사이의 공간 아래쪽과 들여쓰기 생성을 위한 왼쪽에 배치되었습니다. 패딩은 원하는 대로 조정할 수 있습니다. */
	}

	a {
		text-decoration: none;
		color: #ffffff;
	}
	a:hover, a:active {
		text-decoration: none;
		color: #ffb71b;
	}
	
	.div_board_title {
		width: 100%;
		height: 80px;
		float: left;
		font-size: 3vw;
		font-weight: bold;
		text-align: left;
		display: flex;
  		align-items: center;
	}
	
	table.collapse {
		width: 100%;
		border-collapse: collapse;
	}
	
	table.board {
		width: 100%;
		border-color: #ffffff;
		text-align: center;
		border-collapse: collapse;
		word-break:break-all;
	}

}