@charset "UTF-8";


body {
  height: 100%;
}
.join_form {
  width: 100%;
  max-width: 400px;
  padding : 55px 0 52px;
  outline: none;
  
}
.join_container {
	display: flex;
    height: 100vh;
    align-items: center;
    justify-content : center;
}

.join_cont {
	
    width: 580px;
    margin: 40px auto 42px;
    padding: 0 69px;
    border: 1px solid rgba(0,0,0,0.12);
    font-size: 12px;
    box-sizing: border-box;
}

.join_gude_1 {
	font-size : 24px;
	
}

.mail_check_area {
	display : inline-block;
	margin : 0;
	padding : 0;
	width : 100%;
	}
	