@charset "UTF-8";

body {
     height: 100vh;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column; /*수직 정렬*/
      align-items: center;
      justify-content: center;
}

.agree_list {
	
	list-style : none;
}