@charset "UTF-8";

body{
	  width:100%;
      height: 100vh;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column; /*수직 정렬*/
      align-items: center;
      justify-content: center;
      font-family: AppleSDGothicNeo-Regular, 'Malgun Gothic', '맑은 고딕', dotum, '돋움', sans-serif;
      -webkit-font-smoothing: antialiased;
      margin :0;
      padding :0; 
      overflow:auto; 
 }
progress {
   -webkit-appearance: none;
   appearance: none;
}
progress::-webkit-progress-bar {
   width: 150px;
   height: 10px;
   border: none;  
}
progress::-webkit-progress-value {
   background: linear-gradient(to right top, #5151E5, #72EDF2);
}
h1{
    margin: 0;
    padding: 0;
    top: -20px;
	position: relative;
    font-size: 45px;
    background: linear-gradient(to right top, #5151E5, #72EDF2);
    color: transparent;
    -webkit-background-clip: text;
}
input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #CCC;
  color: #555;
  box-sizing: border-box;
  font-family: 'Arvo';
  font-size: 18px;
  height: 50px;
  left:5px;
  padding: 10px 0px;
  position: relative;
  top: 50%;
  width: 275px;
}
 input:focus {
    outline:none;
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(to right top, #5151E5, #72EDF2);
    border-image-slice: 1;        
}
input::placeholder{
font-size:15px;	
	}



.join_cont_number {
    width: 500px;
    height : 400px;
    padding: 35px 45px;
    background-color: #fff;
    border: 3px solid transparent;
    border-radius: 50%;
    border-image: linear-gradient(to right, #72EDF2 0%, #5151E5 100%);
    border-image-slice: 1;
    font-size: 15px;
    box-sizing: border-box;
}
.multi_box1{
	position: relative;
    top: -10px;
}
.join_guide1, .join_guide2{
    display: block;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #191919;
 }
 #buis_number_input{
     width:98%;
 }
 .next_wrap_number {
	position: relative;
    bottom: -50px;
    width: 400px;
} 
.next_number {
	border-radius:10px;
	width : 100%;
	height : 60px;	
}
    
    

    
.join_cont_email {
    width: 500px;
    height : 480px;
    padding: 35px 45px;
    background-color: #fff;
    border: 3px solid transparent;
    border-radius: 50%;
    border-image: linear-gradient(to right, #72EDF2 0%, #5151E5 100%);
    border-image-slice: 1;
    font-size: 15px;
    box-sizing: border-box;
}
.com_mail_check_button:hover {
	background : white;
	}
.com_mail_input_box {
	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.com_mail_input_check{
	position: relative;
    left: 55px;
    top: 5px;
}
.com_mail_check_button {
	border: solid 1px #ddd;
    border-radius: 5px;
    position: relative;
    left: 10px;
    height: 40px;
}
.com_mail_input_check_wrap {
    position: relative;
    left: -5px;
    height: 70px;
}
.mail_check_number_wrap {
	display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    left: -15px;
}
.time{
	position: relative;
    left: 30px;
    height: 25px;
    color:red;
}
.com_mail_check_input_box_warn{
	position: relative;
    left: 53px;
    bottom: -5px;
}
.next_wrap_email {
	position: relative;
    bottom: -150px;
    width: 400px;
} 
.next_email {
	border-radius:10px;
	width : 100%;
	height : 60px;	
}



.join_form_pwd {	
  	width: 100%;
    height: 100%;
    max-width: 400px;
    line-height: 24px;
    outline: none;
    position: relative;
    top: 40px;
}
.join_cont_pwd {
    width: 500px;
    height : 480px;
    padding: 35px 45px;
    background-color: #fff;
    border: 3px solid transparent;
    border-radius: 50%;
    border-image: linear-gradient(to right, #72EDF2 0%, #5151E5 100%);
    border-image-slice: 1;
    font-size: 15px;
    box-sizing: border-box;
}
.multi_box2{
	position: relative;
    top: -30px;
}
.pwd_input_check1{
position: relative;
    left: 100px;
    top: 5px;
}
.pwd_input_check2{
	position: relative;
    left: 100px;
    top: 5px;
}
.pwd_input_wrap{
	display: flex;
    align-items: center;
    flex-direction: column;
}
.next_wrap_pwd {
	position: relative;
    bottom: -50px;
    width: 400px;
} 
.pwd_check_wrap{
	display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    left: -20px;
}
.next_pwd {
	border-radius:10px;
	border:none;
	width : 100%;
	height : 60px;	
}

.join_form_info {	
  	width: 100%;
    height: 100%;
    max-width: 400px;
    line-height: 24px;
    outline: none;
    position: relative;
    top: 40px;
}
.join_cont_info {
    width: 500px;
    height : 580px;
    padding: 35px 45px;
    background-color: #fff;
    border: 3px solid transparent;
    border-radius: 50%;
    border-image: linear-gradient(to right, #72EDF2 0%, #5151E5 100%);
    border-image-slice: 1;
    font-size: 15px;
    box-sizing: border-box;
} 
.buis_info_area{
	line-height : 15px;
	position: relative;
    top: -42px;
}
.multi_box3{
	position: relative;
    top: -50px;
}
.name_wrap{
position: relative;
    left: 13px;
 }
.birth_wrap{
	position: relative;
    left: -17px;
}
.nick_wrap{
	position: relative;
    left: -2px;
	}
.name_input_check{
	text-indent: 40px;
}
.nick_input_check  {
	text-indent: 53px;
}
.birth_input_check{
	text-indent: 69px;
}
.next_info_wrap {
    position: relative;
    bottom: 10px;
    width: 400px;
}
.next_info {
	border-radius:10px;
	border:none;
	width : 100%;
	height : 60px;	
}
.company_address, .company_detail_address{
	font-size:13px;	
}
.address_box{
	position: relative;
    left: -21px;
}
.detail_address_box {
	position: relative;
    left: 48px;
}

.filebox{
	white-space:nowrap;
    position: relative;
    left: -18px;
}

.filebox input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}
.filebox .upload-name {
    display: inline-block;
    height: 20px;
    padding: 0 10px;
    vertical-align: middle;
    border: 1px solid #dddddd;
    width: 50%;
    color: #999999;
}
.filebox label {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    vertical-align: middle;
    background-color: #999999;
    cursor: pointer;
    height: 15px;
    margin-left: 10px;
}