@charset "UTF-8";


body {
      height: 100vh;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column; /*수직 정렬*/
      align-items: center;
      justify-content: center;
      font-family: AppleSDGothicNeo-Regular, 'Malgun Gothic', '맑은 고딕', dotum, '돋움', sans-serif;
      -webkit-font-smoothing: antialiased;
      margin :0;
      padding :0;
  
}
p {white-space: nowrap;
}
input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #CCC;
  color: #555;
  box-sizing: border-box;
  font-family: 'Arvo';
  font-size: 18px;
  height: 50px;
  left: 5%;
  padding: 10px 0px;
  position: relative;
  top: 50%;
  width: 250px;
  
}
 input:focus {
    outline: none;
    border-bottom: 2px solid #0DCAF0;    
  }

.join_cont {
    width: 580px;
    /* margin: 40px auto 42px; */
    padding: 60px 60px;
    border: 2px solid rgba(0,0,0,0.12);
    font-size: 15px;
    box-sizing: border-box;
}
.join_form {
  width: 100%;
  max-width: 400px;
  outline: none;
  
}
.join_gude_1 {
	font-size : 24px;
}

.filebox input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}
.filebox .upload-name {
    display: inline-block;
    height: 20px;
    padding: 0 10px;
    vertical-align: middle;
    border: 1px solid #dddddd;
    width: 50%;
    color: #999999;
}
.filebox label {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    vertical-align: middle;
    background-color: #999999;
    cursor: pointer;
    height: 15px;
    margin-left: 10px;
}
h1{
	display : inline-block;

}
.mail_check_button:hover {

	background : white;

	}
.mail_input_box {
	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.mail_input_check{
	position: relative;
    left: 70px;
    top: 5px;
}

.mail_check_button {
	border: solid 1px #ddd;
    border-radius: 5px;
    position: relative;
    left: 30px;
    height: 40px;
}

.next, .next_wrap {
	position : relative;
	top : 80px;
	width : 100%;
	height : 50px;
	left: 10px;	
}
.mail_input_check_wrap {
    position: relative;
    left: -5px;
    height: 70px;
}
.mail_check_number_wrap {
	display: flex;
    flex-direction: row;
    align-items: center;
}
.time{
	position: relative;
    left: 30px;
    height: 25px;
    color:red;
}
.mail_check_input_box_warn{
	position: relative;
    left: 80px;
    bottom: -5px;
}
.pwd_input_check1{
position: relative;
    left: 121px;
    top: 5px;
}
.pwd_input_check2{
	position: relative;
    left: 120px;
    top: 5px;
}
.pwd_input_box{
	display: flex;
    align-items: center;
    flex-direction: column;
}
