html,
body {
  height: 100%;
}
h1{
	font-weight:600;
    margin: 0;
    padding: 0;
    top: -20px;
	position: relative;
    font-size: 45px;
    background: linear-gradient(to right top, #5151E5, #72EDF2);
    color: transparent;
    -webkit-background-clip: text;
}
a{
	color: #fff;
	text-decoration:none;
}

#login_body {
  width:100%;
  height:100%;
  display: flex;
  align-items: center;
  padding-top: 40px;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  
} 
.bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }


.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
  position: relative;
    top: -120px;
    left: -130px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-floating-btn {
	position : relative;
	left : 200px;
	top : -125px;
}
.form-floating {
	left:-43px;
}
.form-control {
	width : 90%;

	}
.social_login{
	display : flex;
	text-align : center;
	flex-wrap : wrap;
	width : 420px;
	position : relative;
	left : -50px;
	top : -100px;
	justify-content: space-evenly;
}

.social_logoK, .social_logoN{
	margin : 5px;
}

.join {
	display : flex;

}

.mb-3 {
	position : relative;
	left : -10px;
}

.join_wrap {
	position:relative;
	top:30px;
	border-radius:5px;
	display: flex;
    width: 410px;
    height:50px;
    justify-content: space-around;
    background: linear-gradient(to right top, #5151E5, #72EDF2);
    align-items: center;
}
.join_member::after{
	content:"|";
	position:relative;
	left:55px;
}

.logo_login_box {
	display : flex;
	flex-direction: column;
}
.login_wrap {
	display : inline-flex;
	justify-content : space-evenly;
	position: relative;
    width: 407px;
    right: 43px;
}

#login_btn{
	border:none;
	background: linear-gradient(to right top, #5151E5, #72EDF2);
}   
.all_member_login_btn {

	border-radius : 5px;
	width : 407px;
	background: linear-gradient(to right top, #5151E5, #72EDF2);
}

 
@media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

.text-muted{
	position: relative;
    top: 100px;

	}

