@charset "UTF-8";
/*링크전체설정*/
a{
	text-decoration:none;
	color:black;
}
/*로그아웃 버튼 css*/
.kakao_btn{
	font-size:1.08em;
	border:none;
	background:white;
    color: #e2c213;
}
#kakao_logout{
	position: relative;
    top: -80px;
    left: 330px;
    font-size: 0.8rem;	
}
.naver_btn{/*네이버 로그아웃버튼 */
    font-size:1.08em;
	border:none;
	background:white;
    color: #38B81F;
}
.logo_search_area{
	width:30%;
}
.weart_logo{/*로고 설정*/   
    position: relative;
    top: 30px;
    left: -100px;
    margin: 0;
    padding: 0;
    font-size: 30px;
    background: linear-gradient(to right top, #5151E5, #72EDF2);
    color: transparent;
    -webkit-background-clip: text;
    font-weight:600;
}
.total_scri{	
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 400;
    width: 95%;
    height:5%;
    padding-left: 1.6rem;
    margin-left: auto;
    border-radius: 0.4rem;
    border: 1px solid #e6e6e6;
    background-color: #f8f8f8;
    color: #919191;
    line-height: 3.6rem;
    position: relative;
}
.total_scri:focus{
	outline:none;	
	}
	.navbar > .container-fluid{
	flex-direction: column;
	line-height:35px;
}
.navbar-dark .navbar-nav .nav-link { /* 메뉴 텍스트 색상 */
	color:black;
}
.navbar-dark .navbar-nav .nav-link:hover { /* 메뉴 텍스트 색상 */
	background: linear-gradient(to right top, #5151E5, #72EDF2);
    color: transparent;
    -webkit-background-clip: text;
}
.dropdown{
	list-style:none;
}
.dropdown-item { /* 드롭다운 아이템 배경색 */
	background-color: #87CDEE;
	color:#FFFFFF;
}

.dropdown-menu { /* 드롭다운 메뉴 배경색 */
	background-color: #87CDEE;
}

ul.dropdown-menu a:hover, ul.dropdown-menu a:focus { /* 마우스 및 키보드 탐색기의 배경 색상 */
	background: #0DCAF0;
	color:linear-gradient(to right top, #5151E5, #72EDF2);
	color: transparent;
    -webkit-background-clip: text;
}
.nav-link{
	color:black;
}
.navbar-dark .navbar-toggler { /* 축소메뉴 배경 테두리색 */
	border-color: #ffffff;
}
.dropdown-toggle::after {
    display:none;
}

.navbar-expand-md .navbar-collapse {
    justify-content: space-around;
    position: relative;
    
}

#navbar_field{
	background: #ffffff;
}

#btn_nav {
	background:white;
	font-size:1em;
	border: none;
	color:black;
	}

#login_btn{
	position: relative;
    right: -450px;
}
#member_nick, #my_page{
	font-size: 0.8rem;
    position: relative;
    top: -80px;
    left: 240px;
}
#member_nick::after{
	content:"|";
	float:right;
	color:#ccc;
	padding:0 10px;	
}

#logout_btn{
	position: relative;
    top: -80px;
    left: 245px;
    font-size: 0.8rem;
}

#logout_btn::after{
	content:"|";
	float:left;
	color:#ccc;
	padding:0 5px;	
}
#nav_list{
	position:absolute;
}
#after > li{
	list-style:none;
	float:left;
	}
#after{
	position: relative;
    left: 180px;
}	
#login_nav{
	position: relative;
    left: 450px;
    border: none;
    background: white;
}
#login_nav:hover{
	background: linear-gradient(to right top, #5151E5, #72EDF2);
    color: transparent;
    -webkit-background-clip: text;
}
@media only screen and (min-width: 768px) {
	.dropdown:hover .dropdown-menu {
	    display: block;
	    margin-top: 0;
	}
}

