html,
body {
  height: 100%;
}

#login_body {
  width:100%;
  height:100%;
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  
} 
.bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

@media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
  position: relative;
    top: -120px;
    left: -130px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-floating-btn {
	position : relative;
	left : 200px;
	top : -125px;
}
.form-floating {
	left:-43px;
}
.form-control {
	width : 90%;

	}
.social_login{
	display : flex;
	text-align : center;
	flex-wrap : wrap;
	width : 440px;
	position : relative;
	left : -50px;
	top : -100px;
	justify-content: space-evenly;
}

.social_logoK, .social_logoN{
	margin : 5px;
}

.join {
	display : flex;

}

.mb-3 {
	position : relative;
	left : -10px;
}
.join_member .join_company {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
    text-decoration : none;
}
.logo_login_box {
	display : flex;
	flex-direction: column;
}
.login_wrap {
	display : inline-flex;
	justify-content : space-evenly;
	position: relative;
    width: 407px;
    right: 43px;
}
.join_wrap {
	display : contents;
}

#login_btn{
	border:none;
}
.all_member_login_btn {

	border-radius : 5px;
	width : 407px;
	background: linear-gradient(to right top, #5151E5, #72EDF2);
}
button{
  background: linear-gradient(to right top, #5151E5, #72EDF2);
  color:#fff;
  border:none;
  position:relative;
  height:50px;
  font-size:1.0em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}
button:hover{
  
  background:#fff;
  color:#0d6efd;
}
button:before,button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #0d6efd;
  transition:400ms ease all;
}
button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
button:hover:before,button:hover:after{
  width:100%;
  transition:800ms ease all;
}
#footer_font, #save_id{
	color:white!important;
}
 



