@charset "UTF-8";


body {
     height: 100vh;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column; /*수직 정렬*/
      align-items: center;
      justify-content: center;
      font-family: AppleSDGothicNeo-Regular, 'Malgun Gothic', '맑은 고딕', dotum, '돋움', sans-serif;
  -webkit-font-smoothing: antialiased;
}


.join_cont {
    width: 580px;
    margin: 40px auto 42px;
    padding: 0 69px;
    border: 1px solid rgba(0,0,0,0.12);
    font-size: 15px;
    box-sizing: border-box;
}

.join_form {
  width: 100%;
  max-width: 400px;
  padding : 55px 0 52px;
  outline: none;
  
}

/*
.join_container {
	display: flex;
    height: 100vh;
    align-items: center;
    justify-content : center;
}*/

.join_gude_1 {
	font-size : 24px;
}

.mail_input_box {
	display: flex;
    flex-direction: row;
    align-items: center;

}
h1{
	display : inline-block;
}
.filebox input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}
.filebox .upload-name {
    display: inline-block;
    height: 20px;
    padding: 0 10px;
    vertical-align: middle;
    border: 1px solid #dddddd;
    width: 50%;
    color: #999999;
}
.filebox label {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    vertical-align: middle;
    background-color: #999999;
    cursor: pointer;
    height: 15px;
    margin-left: 10px;
}

input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #CCC;
  color: #555;
  box-sizing: border-box;
  font-family: 'Arvo';
  font-size: 18px;
  height: 50px;
  left: 5%;
  padding: 10px 0px;
  position: relative;
  top: 50%;
  width: 250px;
  z-index:1;
}
 input:focus {
    outline: none;    
  }
input::-webkit-input-placeholder {
  color: #AAA;
}

input:focus::-webkit-input-placeholder {
  color: dodgerblue;
}

input:focus+.underline {
  transform: scale(1);
}

.underline {
  background-color: dodgerblue;
    top: 615px;
    left: 535px;
    height: 2px;
    margin-top: -4px;
    position: absolute;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: all 0.5s linear;
  transition: all 0.2s linear;
  width: 250px;
  z-index: -1;
}
.mail_check_button {
	position : relative;
	left : 30px;
}
.mail_input_check{
	position: relative;
    left: -200px;
    top: 50px;
}
.clearfix:before, .clearfix:after {
    display: block;
    content: '';
    line-height: 0;
}

.clearfix:after {
    clear:both;
}

.next, .next_wrap {
	position : relative;
	top : 15px;
	width : 100%;
	height : 50px;
	
}