<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "we.are.travelers.admin">

	<select id="getMemberList" resultType="memberVo">
		select * from weart_member where member_grade = 0
			<if test="searchType=='id'">and member_id like CONCAT('%',#{keyword},'%')</if>
			<if test="searchType=='nickname'">and member_nick like CONCAT('%',#{keyword},'%')</if>
	</select>
	
	<select id="getMemberTotal" resultType="int">
		select count(*) as cnt from weart_member where member_grade = 0
			<if test="searchType=='id'">and member_id like CONCAT('%',#{keyword},'%')</if>
			<if test="searchType=='nickname'">and member_nick like CONCAT('%',#{keyword},'%')</if>
	</select>
	
	<select id="getSellorList" resultType="companyVo">
		select * from weart_company where company_auth = 1
			<if test="searchType=='id'">and company_id like CONCAT('%',#{keyword},'%')</if>
			<if test="searchType=='name'">and company_name like CONCAT('%',#{keyword},'%')</if>
	</select>
	
	<select id="getSellorTotal" resultType="int">
		select count(*) as cnt from weart_company where company_auth = 1
			<if test="searchType=='id'">and company_id like CONCAT('%',#{keyword},'%')</if>
			<if test="searchType=='name'">and company_name like CONCAT('%',#{keyword},'%')</if>
	</select>
	
	<select id="getSellorContent" resultType="companyVo">
		select * from weart_company where company_idx = #{company_idx}
	</select>
	
	<select id="getMemberContent" resultType="memberVo">
		select * from weart_member where member_idx = #{member_idx}
	</select>
	
	<select id="getBoardList" resultType="boardVo">
		select A.* from(
			select * from weart_board where board_idx=board_originidx and board_code like 'b%' and board_code like CONCAT('%',#{board_code},'%')
			<if test="searchType=='subject'">and board_subject like CONCAT('%',#{keyword},'%')</if>
			<if test="searchType=='writer'">and board_writer like CONCAT('%',#{keyword},'%')</if>
			order by board_date desc
		)A limit ${(page-1)*12}, 12
		<!-- select * from weart_board where board_idx=board_originidx and board_code like 'b%' and board_code like CONCAT('%',#{board_code},'%')
			<if test="searchType=='subject'">and board_subject like CONCAT('%',#{keyword},'%')</if>
			<if test="searchType=='writer'">and board_writer like CONCAT('%',#{keyword},'%')</if>
		OR board_code like 'n%' and board_code like CONCAT('%',#{board_code},'%')
		 	<if test="searchType=='subject'">and board_subject like CONCAT('%',#{keyword},'%')</if>
			<if test="searchType=='writer'">and board_writer like CONCAT('%',#{keyword},'%')</if> -->
	</select>
	
	<select id="getBoardTotal" resultType="int">
		select count(*) as cnt from weart_board where board_idx=board_originidx and board_code like 'b%' and board_code like CONCAT('%',#{board_code},'%')
			<if test="searchType=='subject'">and board_subject like CONCAT('%',#{keyword},'%')</if>
			<if test="searchType=='writer'">and board_writer like CONCAT('%',#{keyword},'%')</if>
		<!-- select count(*) as cnt from weart_board where board_idx=board_originidx and board_code like 'b%' and board_code like CONCAT('%',#{board_code},'%')
			<if test="searchType=='subject'">and board_subject like CONCAT('%',#{keyword},'%')</if>
			<if test="searchType=='writer'">and board_writer like CONCAT('%',#{keyword},'%')</if>
		or board_code like 'n%' and board_code like CONCAT('%',#{board_code},'%')
			<if test="searchType=='subject'">and board_subject like CONCAT('%',#{keyword},'%')</if>
			<if test="searchType=='writer'">and board_writer like CONCAT('%',#{keyword},'%')</if> -->
	</select>
	
	<select id="getBoardContent" resultType="boardVo">
		select * from weart_board where board_idx = #{board_idx}
	</select>
	
	<select id="getReplyList" resultType="boardVo">
		select A.* from(
			select * from weart_board where board_subject is null and board_code like 'b%'
			<if test="searchType=='writer'">and board_writer like CONCAT('%',#{keyword},'%')</if>
			order by board_date desc
		)A limit ${(page-1)*12}, 12
		<!-- select * from weart_board where board_subject is null
			<if test="searchType=='subject'">and board_subject like CONCAT('%',#{keyword},'%')</if>
			<if test="searchType=='writer'">and board_writer like CONCAT('%',#{keyword},'%')</if> -->
	</select>
	
	<select id="getReplyTotal" resultType="int">
		select count(*) as cnt from weart_board where board_subject is null and board_code like 'b%'
			<if test="searchType=='writer'">and board_writer like CONCAT('%',#{keyword},'%')</if>
		<!-- select count(*) as cnt from weart_board where board_subject is null
			<if test="searchType=='subject'">and board_subject like CONCAT('%',#{keyword},'%')</if>
			<if test="searchType=='writer'">and board_writer like CONCAT('%',#{keyword},'%')</if> -->
	</select>
	
	<select id="getOrderList" resultType="orderLastVo">
		select * from weart_order_last where orderLast_state1 = 'C'
			<if test="searchType=='num'">and orderLast_num like CONCAT('%',#{keyword},'%')</if>
			<if test="searchType=='date'">and orderLast_payDate like CONCAT('%',#{keyword},'%')</if>
	</select>
	
	<select id="getOrderTotal" resultType="int">
		select count(*) as cnt from weart_order_last where orderLast_state1 = 'C'
			<if test="searchType=='num'">and orderLast_num like CONCAT('%',#{keyword},'%')</if>
			<if test="searchType=='date'">and orderLast_payDate like CONCAT('%',#{keyword},'%')</if>
	</select>
	
	<select id="getOrderListContent" resultType="orderVo">
		select * from weart_order where orderLast_num = #{orderLast_num}
	</select>
	
	<select id="getNoticeMember" resultType="boardVo">
		select A.* from(
			select * from weart_board where board_delyn='N' and board_idx=board_originidx
			<if test="board_code==''">and board_code like CONCAT('%','inquiry','%')</if>
			<if test="board_code!=''">and board_code like CONCAT('%',#{board_code})</if>
			<if test="searchType=='subject'">and board_subject like CONCAT('%',#{keyword},'%')</if>
			<if test="searchType=='writer'">and board_writer like CONCAT('%',#{keyword},'%')</if>
			order by board_date desc
		)A limit ${(page-1)*12}, ${page*12}
		<!-- select * from weart_board where board_reply = 'N' and board_code = 'm_notice'
			<if test="searchType=='subject'">and board_subject like CONCAT('%',#{keyword},'%')</if>
			<if test="searchType=='writer'">and board_writer like CONCAT('%',#{keyword},'%')</if> -->
	</select>
	<select id="getNoticeMemberTotal" resultType="int">
		select count(*) as cnt from(
			select * from weart_board where board_delyn='N' and board_idx=board_originidx
			<if test="board_code==''">and board_code like CONCAT('%','inquiry','%')</if>
			<if test="board_code!=''">and board_code like CONCAT('%',#{board_code})</if>
			<if test="searchType=='subject'">and board_subject like CONCAT('%',#{keyword},'%')</if>
			<if test="searchType=='writer'">and board_writer like CONCAT('%',#{keyword},'%')</if>
			order by board_date desc
		)A limit ${(page-1)*12}, ${page*12}
		<!-- select count(*) as cnt from weart_board where board_reply='N' and board_code = 'm_notice'
			<if test="searchType=='subject'">and board_subject like CONCAT('%',#{keyword},'%')</if>
			<if test="searchType=='writer'">and board_writer like CONCAT('%',#{keyword},'%')</if> -->
	</select>
	
	<select id="getNoticeSellor" resultType="boardVo">
		select * from weart_board where board_code like 'c%'
			<if test="searchType=='subject'">and board_subject like CONCAT('%',#{keyword},'%')</if>
			<if test="searchType=='writer'">and board_writer like CONCAT('%',#{keyword},'%')</if>
	</select>
	
	<select id="getNoticeSellorTotal" resultType="int">
		select count(*) as cnt from weart_board where board_code like 'c%'
			<if test="searchType=='subject'">and board_subject like CONCAT('%',#{keyword},'%')</if>
			<if test="searchType=='writer'">and board_writer like CONCAT('%',#{keyword},'%')</if>
	</select>
	
	<select id="getOutstanding" resultType="companyVo">
		select * from weart_company where company_auth = 0
			<if test="searchType=='id'">and company_id like CONCAT('%',#{keyword},'%')</if>
			<if test="searchType=='name'">and company_name like CONCAT('%',#{keyword},'%')</if>
	</select>
	
	<select id="getOutstandingTotal" resultType="int">
		select count(*) as cnt from weart_company where company_auth = 0
			<if test="searchType=='id'">and company_id like CONCAT('%',#{keyword},'%')</if>
			<if test="searchType=='name'">and company_name like CONCAT('%',#{keyword},'%')</if>
	</select>
	
	<update id="updateMemberGrade" parameterType="map">
		update weart_member set member_grade = #{member_grade}
			where member_idx = #{member_idx}
	</update>
	
	<update id="updateMemberDelyn" parameterType="memberVo">
		update weart_member set member_delyn = #{member_delyn}
			where member_idx = #{member_idx}
	</update>
	
	<update id="updateCompanyDelyn" parameterType="companyVo">
		update weart_company set company_delyn = #{company_delyn}
			where company_idx = #{company_idx}
	</update>
	
	<update id="updateBoardDelyn" parameterType="boardVo">
		update weart_board set board_delyn = #{board_delyn}
			where board_idx = #{board_idx}
	</update>
	
	<update id="updateOrderState2" parameterType="orderVo">
		update weart_order set order_state2 = #{order_state2}
			where order_idx = #{order_idx}
	</update>
	
	<update id="updateCompanyAuth" parameterType="companyVo">
		update weart_company set company_auth = #{company_auth}
			where company_idx = #{company_idx}
	</update>
	
	<delete id="deleteMemberInfo" parameterType="list">
		delete from weart_member where member_idx in
		<foreach collection="list" item="member_idx" open="(" separator="," close=")" >
			#{member_idx}
		</foreach>
	</delete>
	
	

</mapper>