<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "we.are.travelers.board">

	<!-- board_list -->
	<insert id="insert_board" parameterType="boardVo">
		insert into weart_board(board_originidx, board_code, board_subject, board_content, board_writer, board_image, board_ip, board_remove_tag, member_idx)
			select ifnull(MAX(board_idx)+1, 1), #{board_code}, #{board_subject}, #{board_content}, #{board_writer}, #{board_image}, #{board_ip}, #{board_remove_tag}, #{member_idx} from weart_board
	</insert>
	<select id="board_list" resultType="boardVo">
		select A.* from(
			select * from weart_board where board_delyn='N' and board_idx=board_originidx
			<if test="my_board!=''">and board_writer=#{my_board}</if>
			<if test="board_code!=''">and board_code=#{board_code}</if>
			<if test="searchType=='subject'">and board_subject like CONCAT('%',#{keyword},'%')</if>
			<if test="searchType=='content'">and board_remove_tag like CONCAT('%',#{keyword},'%')</if>
			<if test="searchType=='writer'">and board_writer like CONCAT('%',#{keyword},'%')</if>
			<if test="order_by=='order_new'">order by board_date desc</if>
			<if test="order_by=='order_like'">order by board_like desc, board_date desc</if>
			<if test="order_by=='order_reply'">order by board_reply desc, board_date desc</if>
		)A limit ${(page-1)*12}, 12
	</select>
	<select id="board_total" resultType="int">
		select count(*) as cnt from weart_board where board_delyn='N' and board_idx=board_originidx
			<if test="my_board!=''">and board_writer=#{my_board}</if>
			<if test="board_code!=''">and board_code=#{board_code}</if>
			<if test="searchType=='subject'">and board_subject like CONCAT('%',#{keyword},'%')</if>
			<if test="searchType=='content'">and board_content like CONCAT('%',#{keyword},'%')</if>
			<if test="searchType=='writer'">and board_writer like CONCAT('%',#{keyword},'%')</if>
	</select>
	
	<!-- inquiry -->
	<select id="inquiry_list" resultType="boardVo">
		select A.* from(
			select * from weart_board where board_delyn='N' and board_idx=board_originidx
			<if test="my_board!=''">and board_writer=#{my_board}</if>
			<if test="board_code==''">and board_code like CONCAT('%','inquiry','%')</if>
			<if test="board_code!=''">and board_code like CONCAT('%',#{board_code})</if>
			<if test="searchType=='subject'">and board_subject like CONCAT('%',#{keyword},'%')</if>
			<if test="searchType=='content'">and board_remove_tag like CONCAT('%',#{keyword},'%')</if>
			<if test="searchType=='writer'">and board_writer like CONCAT('%',#{keyword},'%')</if>
			order by board_reply asc, board_date desc
		)A limit ${(page-1)*12}, 12
	</select>
	<select id="inquiry_total" resultType="int">
		select count(*) as cnt from weart_board where board_delyn='N' and board_code like CONCAT('%','inquiry','%')
			<if test="my_board!=''">and board_writer=#{my_board}</if>
			<if test="board_code==''">and board_code like CONCAT('%','inquiry','%')</if>
			<if test="board_code!=''">and board_code like CONCAT('%',#{board_code})</if>
			<if test="searchType=='subject'">and board_subject like CONCAT('%',#{keyword},'%')</if>
			<if test="searchType=='content'">and board_content like CONCAT('%',#{keyword},'%')</if>
			<if test="searchType=='writer'">and board_writer like CONCAT('%',#{keyword},'%')</if>
	</select>
	
	<!-- board_content -->
	<update id="update_hits">
		update weart_board set board_hits = board_hits+1 where board_idx=#{board_idx}
	</update>
	<select id="board_content" resultType="boardVo">
		select * from weart_board where board_delyn='N' and board_idx=#{board_idx}
	</select>
	<update id="delete_board">
		update weart_board set board_delyn='Y', board_date=now() where board_idx=#{board_idx}
	</update>
	<update id="modify_board">
		update weart_board set board_subject=#{board_subject}, board_content=#{board_content}, board_image=#{board_image}, board_remove_tag=#{board_remove_tag}, board_ip=#{board_ip}, board_date=now() where board_idx=#{board_idx}
	</update>
	
	<!-- board_reply -->
	<select id="board_reply" resultType="boardVo">
		select A.* from(
			select * from weart_board where board_delyn='N' and board_originidx=#{board_idx} and board_idx!=#{board_idx}
			<if test="order_by=='order_new'">order by board_date desc</if>
			<if test="order_by=='order_like'">order by board_like desc</if>
			<if test="order_by=='order_reply'">order by board_reply desc</if>
		)A limit ${(page-1)*12}, 12
	</select>
	<select id="board_reply_total" resultType="int">
		select count(*) as cnt from weart_board where board_delyn='N' and board_originidx=#{board_idx} and board_idx!=#{board_idx}
	</select>
	<insert id="insert_reply">
		insert into weart_board(board_originidx, board_code, board_content, board_writer, board_ip, member_idx)
			values(#{board_idx}, #{board_code}, #{board_content}, #{board_writer}, #{board_ip}, #{member_idx})
	</insert>
	<update id="delete_reply">
		update weart_board set board_delyn='Y', board_date=now() where board_idx=#{board_idx} and board_originidx!=#{board_idx}
	</update>
	<update id="modify_reply">
		update weart_board set board_content=#{board_content}, board_ip=#{board_ip}, board_date=now() where board_idx=#{board_idx}
	</update>
	<update id="update_reply">
		update weart_board set board_reply = 
			<if test="board_reply==1">board_reply+1</if>
			<if test="board_reply==0">board_reply-1</if>
		where board_idx=#{board_idx}
	</update>
	
	<!-- board_like -->
	<select id="like_count" resultType="int">
		select board_like from weart_board where board_idx=#{board_idx}
	</select>
	<update id="update_like">
		update weart_board set board_like = 
			<if test="board_like==1">board_like+1</if>
			<if test="board_like!=1">board_like-1</if>
		where board_idx=#{board_idx}
	</update>
	<insert id="insert_board_like">
		insert into weart_board_like(board_idx, member_idx)
			values(#{board_idx}, #{member_idx})
	</insert>
	<delete id="delete_board_like">
		delete from weart_board_like where board_idx=#{board_idx} and member_idx=#{member_idx}
	</delete>
	<select id="select_like_count" resultType="int">
		select count(*) from weart_board_like where board_idx=#{board_idx} and member_idx=#{member_idx}
	</select>
	
	<update id="modify_delyn">
		update weart_board set board_delyn=#{board_delyn}, board_date=now() where board_idx=#{board_idx}
	</update>
	<select id="admin_board_content" resultType="boardVo">
		select * from weart_board where board_idx=#{board_idx}
	</select>
</mapper>