<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "we.are.travelers.company">

	<insert id="joinCompany" parameterType="companyVo">
		insert into weart_company (company_idx, company_id, company_pwd, company_buis_number, company_name, company_ceoName,
		 company_phone, company_buisAddress, company_auth_file_name, company_auth_file_size, company_phone_auth, company_auth,
		 comapny_regdate,company_delyn,company_ip)
		
		 values(#{company_idx}, #{company_id}, #{company_pwd}, #{company_buis_number},#{company_name},#{company_ceoName},
		 #{company_phone},#{company_buisAddress},#{company_auth_file_name},#{company_auth_file_size},#{company_phone_auth},#{company_auth},
		 #{comapny_regdate},#{company_delyn}, #{company_ip})
	</insert>
	
	<select id="loginCompany" parameterType="companyVo" resultType="companyVo">
		select * from weart_company
	</select>
	
	<select id="checkId" parameterType="string" resultType="int">
		SELECT a.company_id, b.member_id
		FROM (SELECT COUNT(*) company_id FROM weart_company) a,
		     (SELECT COUNT(*) member_id FROM weart_member) b ,
	</select>
	

	<!-- 동적 SQL문으로 처리: choose-when-otherwise 구문 -->
	<insert id="companyAuth" parameterType="companyVo">
		insert into gallery(gallery_content, origin_filename, system_filename)
		<choose>
			<when test="gallery_content != null">
				values(#{gallery_content}, #{origin_filename}, #{system_filename})
			</when>
			<otherwise>
				values(default, #{origin_filename}, #{system_filename})
			</otherwise>
		</choose>
	</insert>
	

</mapper>
