<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "we.are.travelers.company">

	<insert id="joinCompany" parameterType="companyVo">
		insert IGNORE into weart_company (company_idx, company_id, company_pwd, company_buis_number, company_name, company_ceo_name,
		 company_phone, company_buis_address, company_ip, company_auth_origin_file, company_auth_system_file)
		
		 values(#{company_idx}, #{company_id}, #{company_pwd}, #{company_buis_number}, #{company_name}, #{company_ceo_name},
		 #{company_phone}, #{company_buis_address}, #{company_ip}, #{company_auth_origin_file}, #{company_auth_system_file})
	</insert>
	
	<select id="loginCompany" parameterType="companyVo" resultType="companyVo">
		select * from weart_company where company_id=#{company_id} and company_pwd=#{company_pwd} and company_auth=1 and company_delyn='N'
	</select>
	
	<select id="loginCompany_auth" parameterType="companyVo" resultType="companyVo">
		select * from weart_company where company_id=#{company_id} and company_pwd=#{company_pwd} and company_auth=0 and company_delyn='N'
	</select>

	<select id="loginCompany_delynS" parameterType="companyVo" resultType="companyVo">
		select * from weart_company where company_id=#{company_id} and company_pwd=#{company_pwd} and company_auth=1 and company_delyn='S'
	</select>
	
	<select id="checkComId" parameterType="string" resultType="int">
		SELECT COUNT(*) FROM weart_company WHERE company_id=#{company_id} 
	</select>
	
	<select id="checkComId1" parameterType="string" resultType="int">
		SELECT COUNT(*) FROM weart_member WHERE member_id=#{company_id}
	</select>
	
	<select id="checkComName" parameterType="string" resultType="int">
	   SELECT count(*) FROM weart_company WHERE company_name=#{company_name}
	</select>
	 
	 <select id="findComId" parameterType="memberVo" resultType="companyVo">
		select * from weart_company where company_name=#{company_name} and company_ceo_name=#{company_ceo_name}  
	</select>
	
	<select id="findComPwd" parameterType="String" resultType="int">
		select count(*) from weart_company where company_id=#{company_id}
	</select>
	
	<update id="changeComPwd" parameterType="java.util.HashMap">
    update weart_company set company_pwd =#{company_pwd} where company_id=#{company_id}
	</update>  
	
	

</mapper>
