<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "we.are.travelers.item">

	<!-- 동적 SQL문으로 처리: choose-when-otherwise 구문 -->
	<insert id="addGallery" parameterType="itemVo">
		insert into gallery(gallery_content, origin_filename, system_filename)
			<choose>
				<when test="gallery_content != null">
					values(#{gallery_content}, #{origin_filename}, #{system_filename})
				</when>
				<otherwise>
					values(default, #{origin_filename}, #{system_filename})
				</otherwise>
			</choose>
	</insert>
	
	<select id="getItemList" resultType="itemVo"> <!-- 상품 리스트 호출 -->
		select * from weart_item
	</select>

	<select id="getItemDetail" resultType="itemVo">	<!-- 상품 상세 호출 -->
		SELECT * FROM weart_item WHERE item_idx = #{item_idx}
	</select>
	
	<select id="getItemOption" resultType="optionVo"> <!-- 상품 상세 호출(옵션) -->
		select * from weart_option WHERE item_idx = #{item_idx}
	</select>
	
	
	<insert id="addItemCart" parameterType="map"> <!-- 장바구니 담기 -->
		INSERT INTO weart_cart(member_idx,option_idx,cart_count) VALUES(#{member_idx}, #{option_idx}, #{cart_count})
	</insert>

	<select id="getCartList" resultType="map"> <!-- 상품 상세 호출(옵션) -->
		Select * FROM weart_cart a 
			INNER JOIN weart_option b ON a.option_idx = b.option_idx
			INNER JOIN weart_item c ON b.item_idx = c.item_idx WHERE a.member_idx = #{member_idx}
	</select>
	
	<select id="getItemOrder" parameterType="list" resultType="map"> <!-- 배송지 입력 -->
		Select * FROM weart_cart a
			INNER JOIN weart_option b ON a.option_idx = b.option_idx
			INNER JOIN weart_item c ON b.item_idx = c.item_idx WHERE a.cart_idx IN
			<foreach collection="list" item="item" index="index" separator="," open="(" close=")">
				#{item}
			</foreach>
	</select>
	

</mapper>