<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "we.are.travelers.member">

     <select id="checkId" parameterType="String" resultType="int">  
		SELECT Count(*) FROM weart_member WHERE member_id=#{member_id}
	</select> 
	
	<select id="checkId1" parameterType="String" resultType="int">  
		SELECT Count(*) FROM weart_company WHERE company_id=#{member_id}
	</select> 
	
	<select id="checkNick" parameterType="string" resultType="int">  
	    select count(*) from weart_member where member_nick=#{member_nick}
	</select>
     
	<insert id="joinMember" parameterType="memberVo">
		insert into weart_member(member_idx,member_id,member_pwd,member_name, member_nick, member_birth)
		
		 values(#{member_idx}, #{member_id}, #{member_pwd}, #{member_name}, #{member_nick}, #{member_birth})
	</insert>
	
	<select id="loginMember" parameterType="memberVo" resultType="memberVo">
		select * from weart_member where member_id=#{member_id} and member_pwd=#{member_pwd} and member_delyn='N'
	</select>
	
	<select id="loginMemberDelynS" parameterType="memberVo" resultType="memberVo">
		select * from weart_member where member_id=#{member_id} and member_pwd=#{member_pwd} and member_delyn='S'
	</select>
	
	<select id="findKakao" parameterType="java.util.HashMap" resultType="memberVo">
		select * from weart_member where member_id=#{member_id} and member_nick=#{member_nick}  
	</select>
	
	<insert id="insertKakao" parameterType="java.util.HashMap">
		insert ignore into weart_member(member_idx, member_id,  member_pwd, member_nick, member_regCode)
		
		 values(#{member_idx}, #{member_id}, #{member_pwd}, #{member_nick}, #{member_regCode})
	</insert>
	
	<select id="findNaver" parameterType="java.util.HashMap" resultType="memberVo">
		select member_idx, member_id, member_pwd, member_nick, member_regCode from weart_member where member_idx=#{member_idx} and member_id=#{member_id} and member_pwd=#{member_pwd} and member_nick=#{member_nick} and member_regCode=#{member_regCode}
	</select>
	
	<insert id="insertNaver" parameterType="java.util.HashMap">
		insert into weart_member(member_idx, member_id, member_pwd, member_nick, member_regCode)
		
		 values(#{member_idx}, #{member_id}, #{member_pwd}, #{member_nick}, #{member_regCode})
	</insert>
	
	<select id="findId" parameterType="memberVo" resultType="memberVo">
		select * from weart_member where member_name=#{member_name} and member_birth=#{member_birth}  
	</select>
	
	<select id="findPwd" parameterType="String" resultType="int">
		select count(*) from weart_member where member_id=#{member_id}
	</select>
	
	<update id="changePwd" parameterType="java.util.HashMap">
    update weart_member set member_pwd = #{change_pwd} where member_id=#{member_id}
	</update>
	

</mapper>
