<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "we.are.travelers.myPage">

	<select id="getInfo" resultType="memberVo">
		select * from weart_member where member_idx = #{member_idx}
	</select>
	
	<select id="getPayment" resultType="orderLastVo">
		select * from weart_order_last where orderLast_state1 = 'C' and member_idx = #{member_idx}
			<if test="searchType=='num'">and orderLast_num like CONCAT('%',#{keyword},'%')</if>
			<if test="searchType=='date'">and orderLast_payDate like CONCAT('%',#{keyword},'%')</if>
	</select>
	
	<select id="payment_total" resultType="int">
		select count(*) as cnt from weart_order_last where orderLast_state1='C' and member_idx=#{member_idx}
			<if test="searchType=='num'">and orderLast_num like CONCAT('%',#{keyword},'%')</if>
			<if test="searchType=='date'">and orderLast_payDate like CONCAT('%',#{keyword},'%')</if>
	</select>
	
	<select id="getInfoModify" resultType="memberVo">
		select * from weart_member where member_idx = #{member_idx}
	</select>
	
	<select id="getPaymentContent" resultType="orderVo">
		select * from weart_order where orderLast_num = #{orderLast_num}
	</select>
	
	<update id="modify_info">
		update weart_member set member_name=#{member_name}, member_pwd=#{member_pwd}, member_nick=#{member_nick},
		 member_phone=#{member_phone}, member_delyn=#{member_delyn} where member_idx=#{member_idx}
	</update>
	
	<select id="info_checkPwd" resultType="int">
		 select count(*) from weart_member where member_idx = #{member_idx} and member_pwd = #{member_pwd}
	</select>
	
	<select id="getMyNotice" resultType="boardVo">
		select * from weart_board where member_idx = #{member_idx}
	</select>
	
	<!-- <select id="inquiry_list" resultType="boardVo">
		select * from weart_board where member_idx = #{member_idx}
	</select> -->
	
	<select id="getMyNoticeContent" resultType="boardVo">
		select * from weart_board where board_idx = #{board_idx}
	</select>
	
</mapper>